.experience-accord {
  margin-inline: 3%;
  border-radius: 10px;
  /* background-color: #1d1d1d; */
  /* border: 0.1px solid rgba(211, 211, 211, 0.397); */
  transition: all 0.2s ease-in-out;
  margin-block: 2%;
}

.experience-accord:hover {
  color: rgba(255, 255, 255, 1);
  /* box-shadow: 0 5px 15px #ccc; */
}

.accord-panel {
  font-family: "Google Sans Regular";
}

.accord {
  background-color: black;
}

@media (max-width: 1024px) {
  .experience-accord {
    margin: 5%;
    padding: 0px;
  }
}
